.container{
    padding-top: 10px;
    background-color: white;
}
.mat-card{
    background-color: white;
}
.fullcardPadding{
    padding: 20px 20px 20px 20px;
    width: 100%;
    color: black;
    display: grid;
    grid: auto auto / auto auto;
}
.divBottomlne{
    border-bottom: 2px solid darkgrey;
}
.bigfont{
    font-size: 30px;
}
h2{
    font-size: 20px;
    color:darkcyan;
    margin: 0 0 0px !important;
}
h1{
    margin: 0 0 0px !important;
}
.mat-icon{
    vertical-align: middle;
    color: darkcyan;
    padding: 0px 30px 0px 0px;
}
.icontextSpace{
    padding: 0px 10px 0px 0px;
}
p{
    font-size: 15px;
    /* padding: 10px 10px 10px 10px; */
}
.circleShape{
    background-color: black;
    height: 400px;
    margin-top: 10px;
    background: linear-gradient(168deg, #000 62%, #000 62%, #000 62%, 
    transparent 63%);
}

.namealign{
    margin-top: 45px;
}

.example-header-image{
    background-image: url('../../../assets/self1.jpeg');
    background-size: cover;
}

.mat-card-avatar {
    height: 200px;
    width: 200px;
    float: right;
}
.topPadding{
    position: relative;
    top: 20px;
}
.example-box.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }